In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
a=pd.Series([1,2,3,4,5],dtype='float64',index=['first','second','third','fourth','five'])                           #Series is like 1-D array with index and values

In [5]:
a

first     1.0
second    2.0
third     3.0
fourth    4.0
five      5.0
dtype: float64

In [6]:
a.name='1_TO_5'

In [7]:
a.index.name='numericals'

In [8]:
a

numericals
first     1.0
second    2.0
third     3.0
fourth    4.0
five      5.0
Name: 1_TO_5, dtype: float64

In [9]:
a.index

Index(['first', 'second', 'third', 'fourth', 'five'], dtype='object', name='numericals')

In [10]:
a.values

array([1., 2., 3., 4., 5.])

In [11]:
a['six']=6                      #SERIES OBJECT IS LIKE ORDERED DICTIONARY

In [12]:
a.name='1_TO_6'

In [13]:
a

numericals
first     1.0
second    2.0
third     3.0
fourth    4.0
five      5.0
six       6.0
Name: 1_TO_6, dtype: float64

In [14]:
del a['first']

In [15]:
a

numericals
second    2.0
third     3.0
fourth    4.0
five      5.0
six       6.0
Name: 1_TO_6, dtype: float64

In [16]:
b=pd.Series(np.arange(5))            #Series can accept list,tuples,dicts

In [17]:
b

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [18]:
pd.Series((4,3,2,4,5),name='jdj',)

0    4
1    3
2    2
3    4
4    5
Name: jdj, dtype: int64

In [19]:
pd.Series({'anuj': 'DS','cuk': 'mechanics'})

anuj           DS
cuk     mechanics
dtype: object

In [20]:
a.to_csv('numbers')

In [21]:
pd.read_csv('numbers')

  numericals  1_TO_6
0     second     2.0
1      third     3.0
2     fourth     4.0
3       five     5.0
4        six     6.0

In [22]:
#So, every series object have index,values,name, index's name,dtype associated with it
#Its more like a ordered dictionary with supports suitable dict functions

In [23]:
#Fancy indexing in series:

In [24]:
a[['five','six']]

numericals
five    5.0
six     6.0
Name: 1_TO_6, dtype: float64

In [25]:
a*4

numericals
second     8.0
third     12.0
fourth    16.0
five      20.0
six       24.0
Name: 1_TO_6, dtype: float64

In [26]:
np.exp(a)

numericals
second      7.389056
third      20.085537
fourth     54.598150
five      148.413159
six       403.428793
Name: 1_TO_6, dtype: float64

In [29]:
a[a>4]

numericals
five    5.0
six     6.0
Name: 1_TO_6, dtype: float64

In [32]:
a.isnull()

numericals
second    False
third     False
fourth    False
five      False
six       False
Name: 1_TO_6, dtype: bool

In [33]:
a.notnull()

numericals
second    True
third     True
fourth    True
five      True
six       True
Name: 1_TO_6, dtype: bool