In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df1=pd.DataFrame({'A':[1,2],'B':[3,4]})

In [4]:
# 1.Apply function is a very useful function when we want to apply a specific function along rows or columns
# 2.The arguments:function,positional arguments,keyworded arguments which the function will require
#Applymap function is used when element wise data transformation is to happen.
#arguments: only function

In [5]:
df1

   A  B
0  1  3
1  2  4

In [6]:
def square(x):
    return x**2
df1.apply(square)

   A   B
0  1   9
1  4  16

In [7]:
df1.apply(lambda x: x**2)              #Lambda function are small anonymous functions which is also return argument
                                       #they take infinite arguments and one expression
                                       #note x is every value in df1 if axis is not specified. if specified along that axis x will change

   A   B
0  1   9
1  4  16

In [8]:
df1.apply(np.sum,axis=0)

A    3
B    7
dtype: int64

In [9]:
def sum(x, y, m,n):
    return (x + y) * m

df1.apply(sum,args=(1,0),n=2)

   A  B
0  0  0
1  0  0

In [10]:
np.sqrt(df1)

          A         B
0  1.000000  1.732051
1  1.414214  2.000000

In [11]:
df1.applymap(np.square)                      #element-wise data transformation

   A   B
0  1   9
1  4  16