In [1]:
import numpy as np

In [2]:
#1: CREATING ARRAYS USING ARRAY FUNCTION USING SEQUENCES.

In [3]:
a=[1,2,3,4,5]

In [4]:
arr1=np.array(a)          #array function takes arguments as sequence:list,tuple and dtype too

In [5]:
arr=np.array(a,dtype='float32')

In [6]:
arr

array([1., 2., 3., 4., 5.], dtype=float32)

In [7]:
arr1

array([1, 2, 3, 4, 5])

*Every ndarray object has shape,ndim,dtype associated with it.*

In [39]:
#Shape: (2,3,2) means 2 elements in a 3 row 2 column ndarray

In [8]:
arr1.shape

(5,)

In [9]:
arr1.ndim

1

In [10]:
arr1.dtype

dtype('int32')

In [11]:
arr2=np.array([[1,2,3,65],[4,5,6]])

In [12]:
arr2

array([list([1, 2, 3, 65]), list([4, 5, 6])], dtype=object)

In [13]:
arr2.ndim

1

In [14]:
arr2.shape

(2,)

In [15]:
arr2.dtype

dtype('O')

In [16]:
tup_ar=np.array(((1,2),(3,5)))

In [17]:
tup_ar

array([[1, 2],
       [3, 5]])

In [18]:
set_arr=np.array({1,2,3,4,5})

In [19]:
set_arr

array({1, 2, 3, 4, 5}, dtype=object)

In [20]:
#2: CREATING ARRAYS OF ZEROS,ONES USING ZEROS(),ZEROS_LIKE(),ONES(),ONES_LIKE(),EMPTY(),EMPTY_LIKE(),FULL(),FULL_LIKE()

In [21]:
np.zeros(2)

array([0., 0.])

In [22]:
np.zeros((2,2))

array([[0., 0.],
       [0., 0.]])

In [23]:
z=np.ones((3,4))

In [24]:
np.zeros_like(z)                   #zeros_like and ones_like makes a copy of array of given shape,size and dtype!!!

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [25]:
np.ones_like(a)                  #since a was of int32 dtype

array([1, 1, 1, 1, 1])

In [26]:
np.ones((3,2,4))                #first no:no of elems ,second:rows ,third:columns

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [27]:
np.empty((5,2,2))                      #this method return garbage values!

array([[[1.21324114e-311, 6.27463370e-322],
        [0.00000000e+000, 0.00000000e+000]],

       [[3.44902066e-307, 5.30276956e+180],
        [1.57076922e-076, 4.57046137e-071]],

       [[5.06793398e-086, 3.35608799e-143],
        [6.01433264e+175, 6.93885958e+218]],

       [[5.56218858e+180, 3.94356143e+180],
        [1.04088095e-042, 5.98830536e+174]],

       [[4.08099414e+179, 4.31092339e-033],
        [7.75106378e-144, 1.50008929e+248]]])

In [28]:
np.full((3,2,2),5)                           #first:shape as tuple , second:fill_value

array([[[5, 5],
        [5, 5]],

       [[5, 5],
        [5, 5]],

       [[5, 5],
        [5, 5]]])

In [29]:
np.full_like(arr1,99)

array([99, 99, 99, 99, 99])

In [30]:
#3: CREATING ARRAY WITH ARANGE and LINSPACE FUNCTION. ITS SIMILAR TO RANGE IN LIST

In [31]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [32]:
np.arange(2,10)

array([2, 3, 4, 5, 6, 7, 8, 9])

In [33]:
np.arange(2,11,2)                             # max 4 args possible last one is dtype

array([ 2,  4,  6,  8, 10])

In [34]:
np.arange(2,11,2,dtype='float32')

array([ 2.,  4.,  6.,  8., 10.], dtype=float32)

In [35]:
np.linspace(1,100,4)                       #good for ploting graphs

array([  1.,  34.,  67., 100.])

In [36]:
# IDENTITY ARRAY USING EYE AND IDENTITY FUNCTION:

In [37]:
np.eye(2)                             #Eye and identity used to produce identity ndarrays.

array([[1., 0.],
       [0., 1.]])

In [38]:
np.identity(4,dtype='int32')

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])