In [1]:
import numpy as np
import pandas as pd

In [2]:
s1=pd.Series([1,2,4,3,2,3,2,4,2,2,4,4,8])

In [3]:
s1.unique()

array([1, 2, 4, 3, 8], dtype=int64)

In [4]:
s1.value_counts()

2    5
4    4
3    2
8    1
1    1
dtype: int64

In [5]:
s1.isin([2])

0     False
1      True
2     False
3     False
4      True
5     False
6      True
7     False
8      True
9      True
10    False
11    False
12    False
dtype: bool

In [6]:
s1[s1.isin([2])]

1    2
4    2
6    2
8    2
9    2
dtype: int64

In [7]:
s1.isin([2]).value_counts()

False    8
True     5
dtype: int64

In [8]:
s2=pd.Series([1,2,8])

In [9]:
s1

0     1
1     2
2     4
3     3
4     2
5     3
6     2
7     4
8     2
9     2
10    4
11    4
12    8
dtype: int64

In [10]:
pd.Index(s2).get_indexer(s1)                      #it gives indexes of values of s2 found in s1
                                                  #-1 means not found

array([ 0,  1, -1, -1,  1, -1,  1, -1,  1,  1, -1, -1,  2], dtype=int64)

In [11]:
#See other functions on Pg.no:164

In [12]:
df=pd.DataFrame([[2,3,4,3],[1,3,5,6],[9,7,6,7]],columns=list('abcd'))

In [13]:
df

   a  b  c  d
0  2  3  4  3
1  1  3  5  6
2  9  7  6  7

In [14]:
def f1(x):
    return x.value_counts()
df.apply(f1).fillna(0)

     a    b    c    d
1  1.0  0.0  0.0  0.0
2  1.0  0.0  0.0  0.0
3  0.0  2.0  0.0  1.0
4  0.0  0.0  1.0  0.0
5  0.0  0.0  1.0  0.0
6  0.0  0.0  1.0  1.0
7  0.0  1.0  0.0  1.0
9  1.0  0.0  0.0  0.0