In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s1=pd.Series([2,3,1,5,8,6,9,4,7])

In [4]:
s1

0    2
1    3
2    1
3    5
4    8
5    6
6    9
7    4
8    7
dtype: int64

In [5]:
s1.rank()                     #ranking allots 1 to n to all members *ordered 1st in increasing order*
                              #here, all are distinct members. so position in increasing order of elements=rank of that element
                              #when same members are repeated, other args are present in order to break the ties like max

0    2.0
1    3.0
2    1.0
3    5.0
4    8.0
5    6.0
6    9.0
7    4.0
8    7.0
dtype: float64

In [6]:
s2=pd.Series([2,3,1,5,8,6,9,4,7,2])

In [7]:
s2

0    2
1    3
2    1
3    5
4    8
5    6
6    9
7    4
8    7
9    2
dtype: int64

In [10]:
s2.rank()                        #note if members are arranged in increasing order, the two 2s will occupy position 2 and 3
                                 #rank=positions/total similar elements
                                 #so rank of each similar =(2+3)/2=2.5
                                 #to avoid giving same ranks to similar elements, other tie-breaking-methods are present. See below

0     2.5
1     4.0
2     1.0
3     6.0
4     9.0
5     7.0
6    10.0
7     5.0
8     8.0
9     2.5
dtype: float64

In [9]:
s2.rank(method='first')        #this tie-breaking-method gives rank according to precedence in position(means later similar elements will get larger ranks, earlier smaller)

0     2.0
1     4.0
2     1.0
3     6.0
4     9.0
5     7.0
6    10.0
7     5.0
8     8.0
9     3.0
dtype: float64

In [11]:
s2.rank(method='max')        #this tie-breaking method 1st apply 'first' method. then highest rank of simlar elements=rank of all similar elements.

0     3.0
1     4.0
2     1.0
3     6.0
4     9.0
5     7.0
6    10.0
7     5.0
8     8.0
9     3.0
dtype: float64

In [12]:
#How ranking takes place in dataframe?

In [13]:
df=pd.DataFrame({'A':[1,3],'B':[54,67]})

In [14]:
df

   A   B
0  1  54
1  3  67

In [15]:
df.rank()             #by default axis = 0

     A    B
0  1.0  1.0
1  2.0  2.0

In [16]:
df.rank(axis=1)

     A    B
0  1.0  2.0
1  1.0  2.0

In [17]:
#For more tie-breaking methods see Pg. no: 156