In [1]:
import numpy as np
import pandas as pd

In [2]:
s1=pd.Series([1,2,3,4,5,6],index=['a','b','a','c','b','d'])

In [3]:
s1

a    1
b    2
a    3
c    4
b    5
d    6
dtype: int64

In [4]:
s1['a']                #Remember dublicatin' axis labels might not be a wise decision.
                       #Since, it will not give single scalar value but a ndarray.

a    1
a    3
dtype: int64

In [5]:
s1['d']

6

In [6]:
df1=pd.DataFrame(np.random.randn(4,4),index=['a','a','b','c'])

In [7]:
df1

          0         1         2         3
a  0.189891 -0.500792  1.034708  0.579401
a -0.861826  0.247291 -0.456771 -1.535267
b -0.573790  0.809948  0.873789 -0.178756
c -0.595231 -1.200237 -0.208568  0.404115

In [8]:
df1.loc['a']          #note df retuned

          0         1         2         3
a  0.189891 -0.500792  1.034708  0.579401
a -0.861826  0.247291 -0.456771 -1.535267

In [9]:
df1.loc['c']       #series returned

0   -0.595231
1   -1.200237
2   -0.208568
3    0.404115
Name: c, dtype: float64